.listContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.11);
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 10px;
  max-width: 760px;
  padding: 10px;
}

.btn {
  background: #d22057;
  color: #fff;
  border-radius: 10px;
  line-height: 1rem;
  cursor: pointer;
  padding: 0 5px;
}

.btn:focus {
  outline: none;
}

.card p span {
  color: #39c0c7;
}

@media (max-width: 450px) {
  .card {
    margin: auto;
    max-width: 350px;
  }

  .listContent {
    margin-bottom: 6px;
    display: block;
  }

  .innerSection {
    display: inline-flex;
    justify-content: space-evenly;
  }

  .innerSection p {
    padding-top: 5px;
  }

  .parcelList {
    min-width: 362px;
    text-align: center;
  }
}
