.login_form {
  width: 30rem;
  margin: 2rem auto;
  max-width: 80%;
  text-align: center;
}

.form_control label,
.form_control input {
  display: block;
  width: 100%;
}

.form_control input {
  font: inherit;
  padding: 0.1rem 0.25rem;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-bottom: 1rem;
}

.form_role {
  border: 1px solid red;
}

.form_control input:focus,
.form_role:focus {
  outline: none;
  border-bottom-color: #ff2058;
}

.form__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
